<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1 th:if="${offerta.id < 1}">[[${pizza.name}]] : Nuova offerta sulle Pizze </h1> 
	<h1 th:if="${offerta.id > 0}">[[${pizza.name}]] : Modifica offerta sulle Pizze </h1>
	
	<form
		th:object="${offerta}"
		method="POST"
	>
		
		<label for="titolo">Inizio offerta</label>
		<input type="text" name="titolo" th:field="*{titolo}">
		<br />
		<label for="startOccasione">Inizio offerta</label>
		<input type="date" name="startOccasione" th:field="*{realStartOcc}">
	
		<br />
	
		<label for="endOccasione">Fine offerta</label>
		<input type="date" name="endOccasione" th:field="*{realEndOcc}">
	
		<br />
	
		
		<label for="sconto">Fine offerta</label>
		<input type="number" name="sconto" th:field="*{sconto}">
		
		<br />
		
		<input type="submit" th:value="${offerta.id < 1 ? 'CREATE' : 'UPDATE'}">
		
	
	</form>
</body>
</html>