<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body th:object="${pizza}">
	<h1>
		[[*{name}]] <br />
	</h1>
    <img th:src="*{pic}" width="300px" />
    <small>[[*{description}]]</small><br />
    [[*{price}]]
    
    <ul>
		<li 
			th:each="offerta : *{offerte}"
			th:object="${offerta}"
		>
		[[*{startOccasione}]] - [[*{endOccasione}]] <br />
		<div th:if="*{sconto}">
			Sconto: <br />
			[[*{sconto}]]<span>%</span>
		</div>
		
		</li>
	</ul>
</body>
</html>