<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body th:object="${pizza}">
	<h1>
		[[*{name}]] <br />
	</h1>
    <img th:src="*{pic}" width="300px" />
    <small>[[*{description}]]</small><br />
    <span>Il prezzo è di €</span>[[*{price}]]
    
    <h3>Ingredienti:</h3>
    <ul>
		<li
			th:each="ingrediente : *{ingredienti}"
			th:object="${ingrediente}"
		>
			[[*{nome}]]
		</li>
	</ul>
    
    <h3>Offerte:</h3>
    <ul>
		<li 
			th:each="offerta : *{offerte}"
			th:object="${offerta}"
		>
		<h4>Offerte Speciali:  <a th:href="@{/pizze/offerta/{id}(id=*{id})}">+</a> </h4>
		
		[[*{titolo}]] <br />
		[[*{startOccasione}]] - [[*{endOccasione}]] <br />
		<div th:if="*{sconto}">
			Sconto: <br />
			[[*{sconto}]]<span>%</span>
		</div>
		<a th:href="@{/pizze/offerta/edit/{id}(id=*{id})}">EDIT</a>
		</li>
	</ul>
	
	
</body>
</html>